#bigconternt{
    
    width: 1242px;
    height: 2208px;
    background-image: url(./image/背景.png);
    position: relative;
    }
.title{
    position:relative;
    color: green;
    top: 15%;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    
} 
.notice{
    position:relative;
    color: gray;
    top: 20%;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    max-width: 600px;
    text-align:center;
    margin: 0 auto;
}
.inputname{
    position:relative;
    color: black;
    top: 25%;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
   
    text-align:center;
    margin: 0 auto;

}
label input{
    position:relative;
    color: black;
    height:40px;
    width: 400px;
}
button{
  
    position:relative;
    font-size: 50px;
    top:600px;
  
    /* background: rgb(67, 246, 67); */


}
